*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background: linear-gradient(to right, #61045f, #aa07b6);
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.div1{
    width: 450px;
    height: 300px;
    background: white;
    display: flex;
    align-items: center;
    border-radius: 10px;
    position: relative;    
}
ul{
    width: 100%;
    margin-left: 20px;
    list-style: none;    
}
ul li{
    width: 80%;
    height: 50px;
    background: #ffffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.100);
    padding: 0 1em;
    display: flex;
    align-items: center;
    margin: 1em 2em;
    z-index: 10;
    cursor: pointer;
    position: relative;
    transition: all .4s;
}

ul li::before{
    content: '';
    position: absolute;
    top: 0;
    left: -20px;
    width: 10px;
    height: 100%;
    background: #aa076b;
    z-index: -1;
    transition: all .4s;
}

ul li:hover::before{
    width: 106%;
}

ul li:hover{
    overflow: hidden;
    color: white;
}